node_modules
.DS_Store
.env
/server/firebase-service-account.js
.idea
.vscode


# Frontend stuff

# Miscellaneous
/frontend/node_modules
/frontend/.angular/cache
/frontend/.angular
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
/frontend/node_modules/
/frontend/.angular/
