/* GENERAL */

body {
    background-color: #428bca;
    /* If you can see this, uncomment the next three lines. You're welcome. */
    /* background-image: url('http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/beer-icon.png');
    background-size: 40px 40px;
    background-repeat: repeat; */
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
}

main {
    margin-top: 15px;
}

h1 {
    font-size: 36px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    padding: 10px;
}

h2 {
    background: #5cb85c;
    font-size: 28px;
    text-align: center;
    color: white;
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
    padding: 10px;
}

h3 {
    background: #5cb85c;
    font-size: 24px;
    text-align: center;
    color: white;
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
    padding: 10px;
    /* margin-bottom: 0; */
}

h4 {
    font-size: 22px;
    text-align: center;
    padding: 5px;
}

p,
li,
a,
ul,
ol {
    font-size: 14px
}

table thead,
td,
tr {
    background-color: #ffffff;
}

table th {
    background-color: rgb(255, 255, 255);
}

input {
    padding: 2px !important;
}


/* INDEX.HTML */

.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 100%;
    padding: 0px;
    width: auto;
    /*opacity: 0.75;*/
}

img:hover {
    opacity: 1.0;
}


/* MAIN.HTML */

.mainVisitsScreen {
    display: flex;
}

.mainVisitsScreen>div>h3 {
    margin-top: 15px;
}

.addingNewVisit {
    background: white;
    text-align: center;
    padding: 2px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.inputDate,
.inputBrewery {
    display: inline-block;
}

.breweryNotes {
    /* width: 50%; */
    /* margin: auto; */
}

.breweryNotes h3 {}

.breweryNotesMain {
    margin: 15px 0;
}

.breweryNotesInput {
    margin: auto;
    width: 70%;
}

.addNewButton {
    padding: 5px;
}

.seeMoreButton {
    float: right;
    margin: auto;
}


/* VISIT-DETAILS.HTML */

.brewBrewList {
    padding: 0 5px 0 0;
}

.notesAddNew {
    padding: 0 0 0 5px;
}

.updateDeleteButtons {
    text-align: center;
    /*display: inline-block;*/
}

.updateButton,
.deleteButton {
    display: flex;
    float: left;
    margin: 5px;
}

.breweryNotes {}

.breweryNotes h3,
.notesAddNew h3 {
    margin-top: 0;
}

.addingNewBeer {
    background: white;
    text-align: center;
}

.inputName {
    display: inline-block;
}

.inputABV {
    width: 40%;
}

.inputRating {
    width: 40%;
}

.inputABVandRating {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-around;
}

.inputNotes {
    margin: auto;
    width: 70%;
}

.addNewButton {
    padding: 5px;
    margin: 15px;
    text-align: center;
}


/* fame.html */

.fameTag {
    padding: 15px;
    background: white;
    margin: 10px;
}


/* LOGIN.HTML*/

.loginPic {
    height: 175px;
    width: 175px;
    margin: 0 auto;
    padding: 5px;
}

.logoutbutton {
    margin: 10px;
    float: right;
}

.loginDiv {
    background-color: white;
    text-align: center;
    margin-bottom: 25px;
}

.logButtons {
    margin: 5px;
    padding: 5px;
    display: inline-block;
}


/* SPECIAL */

.swal2-modal .swal2-title {
    color: #ffffff;
}