body {
    background-color: #428bca;
    /*background-image: url('http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/beer-icon.png');*/
    background-size: 60px 60px;
    background-repeat: repeat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
}


/*h1 {
    font-size: 40px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
}*/

h5 {
    background: #5cb85c;
    font-size: 30px;
    text-align: center;
    color: white;
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
    border: 1px solid black;
    padding: 1px;
}

h3 {
    background: #5cb85c;
    font-size: 20px;
    text-align: center;
    color: white;
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
    border: 1px solid black;
    padding: 1px;
}

h4 {
    padding: 15px;
    background: white;
}

label {
    font-size: 14px;
}

p {
    background: white;
    text-align: center;
}

#addNewButton {
    margin: 2px;
    margin: auto;
    text-align: center;
}

#disabled {
    pointer-events: none;
    /* for "disabled" effect */
    opacity: 0.5;
    background: #CCC;
}

#seeMoreButton,
#nuclearButton {
    float: right;
    margin: auto;
}

#inputName,
#inputRating {
    display: inline-block;
}

#inputNotes {
    margin-left: 20px;
    margin-right: 20px;
}

#inputDate,
#inputBrewery {
    display: inline-block;
}

#loginPic {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    padding: 5px;
}

#logoutbutton {
    margin: 5px;
    float: right;
}

#updateDeleteButtons {
    text-align: center;
}

.addingNewBeer {
    background: white;
    text-align: center;
}

.addNewButton {
    padding: 2px;
}

.addingNewVisit {
    background: white;
    text-align: center;
    padding: 2px;
}


/*.brewBrewList{
  display: inline-block;
}*/

.brewName,
.brewDate,
.brewBrewery,
.ratingButtons {
    display: inline-block;
}

/*.deleteThisVisit {
    text-align: center;
    padding-bottom: 15px;
    background: #d9534f;
    /*border: 1px solid black;*/
}*/

.list {
    background: white;
    /*padding: 2px;*/
    border: 1px solid black;
}

.loginDiv {
    background-color: white;
    text-align: center;
    margin-bottom: 25px;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 100%;
    padding: 0px;
    width: auto;
    opacity: 0.75;
}

img:hover {
    opacity: 1.0;
}

.logButtons {
  margin: 5px;
  padding: 5px;
  display: inline-block;
}

.spacer {
    margin-top: 25px;
}

.spacer2 {
    text-align: center;
    background: #d9534f;
    margin-top: 50px;
    padding-bottom: 15px;
    padding-top: 5px;
}

.suggestDiv {
    text-align: center;
    background: white;
    margin: auto;
}

.footerBody {
  background: aliceblue;

}

table,
thead,
td,
tr {
    /*border-collapse: collapse;*/
    /*padding: 1px;*/
    background-color: #ffffff;
}

table th {
    background-color: rgb(255, 255, 255);
}
