/* general */
body {
    background-color: #428bca;
    /*background-image: url('http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/beer-icon.png');
    background-size: 40px 40px;
    background-repeat: repeat;*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}
h1 {
    font-size: 40px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
}
h2 {
    background: #5cb85c;
    font-size: 32px;
    text-align: center;
    color: white;
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
    border: 1px solid black;
    padding: 1px;
}
h3 {
    background: #5cb85c;
    font-size: 24px;
    text-align: center;
    color: white;
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
    border: 1px solid black;
    padding: 10px;
}
h4 {
    /*background: #5cb85c;*/
    /*font-size: 30px;*/
    text-align: center;
    /*color: white;
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;*/
    /*border: 1px solid black;*/
    padding: 5px;
}
table thead, td, tr {
    background-color: #ffffff;
}
table th {
    background-color: rgb(255, 255, 255);
}
input{
  padding: 2px !important;
}


/* main.html */
#addingNewVisit {
    background: white;
    text-align: center;
    padding: 2px;
}
#inputDate,
#inputBrewery {
    display: inline-block;
}
#breweryNotesInput{
  margin: auto;
  width: 70%;
}
#addNewButton {
  padding 5px;
}


#seeMoreButton {
    float: right;
    margin: auto;
}

/* visit-details.html */
#brewBrewList{

}
#updateDeleteButtons {
    text-align: center;
    /*display: inline-block;*/
}
#updateButton,
#deleteButton {
    display: flex;
    float: left;
    margin: 5px;
}
#breweryNotes{

}
#addingNewBeer {
    background: white;
    text-align: center;
}
#inputName,
#inputRating {
    display: inline-block;
}
#inputNotes {
    margin: auto;
    width: 70%;;
}
#addNewButton {
    padding: 5px;
    margin: 15px;
    text-align: center;
}


/* fame.html */
#fameTag {
    padding: 15px;
    background: white;
    margin: 10px;
}

/* login.html */
#loginPic {
    height: 175px;
    width: 175px;
    margin: 0 auto;
    padding: 5px;
  }
#logoutbutton {
    margin: 10px;
    float: right;
}
.loginDiv {
    background-color: white;
    text-align: center;
    margin-bottom: 25px;
}
.logButtons {
    margin: 5px;
    padding: 5px;
    display: inline-block;
}

/* index.html */
.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    padding: 0px;
    width: auto;
    /*opacity: 0.75;*/
}
img:hover {
    opacity: 1.0;
}
