body {
  background-color: dodgerblue;
  background-image: url('http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/beer-icon.png');
  background-size: 50px 50px;
  background-repeat: repeat;
}

#loginPic {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.logButtons {
  text-align: center;
}

.logOutButton {
  text-align: right;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 110%;
  padding: 0px;
  width: auto;
}

.logo, .title {
  display: inline-block;
}

h1 {
  font-size: 40px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h3 {
  background: green;
  font-size: 20px;
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border: 1px solid black;
}

h4 {
  font-size: 20px;
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border: 1px solid black;
  /*padding: 5px;
  margin: 5px;*/
}

.loginDiv {
  background-color: white;
}

.list {
  background: white;
  padding: 2px;
  border-radius: 8px;
  border: 1px solid black;
}

input {
  padding: 1px;
}


.addingNewBeer {
  background: white;
  border-radius: 8px;
  border: 1px solid black;
}

label {
  font-size: 14px;
}

div {
  padding: 2px;
  margin: 2px;
}

#inputName, #inputDate, #inputBrewery, #inputRating {
  display: inline-block;
}

.brewName, .brewDate, .brewBrewery, .ratingButtons {
  display: inline-block;
}

.selling {
  background: white;
  padding: 5px;
  margin: 5px;
}

#addNewButton {

  margin: 2px;
}

/*p .home, .add {
  padding: 5px;
  margin: 5px;
  background: antiquewhite;
}*/


/*button {
  background-color: yellow;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
}*/

/*select {
  border: 1px solid black;
}*/


/*header {
  background: green;
  text-align: center;
  padding: 2px;
  border: 1px solid black;
}*/

/*.navbar {
  background: white;
  font-size: 14px;
}*/
