body {
  background-color: #428bca;
  /*dodgerblue;*/
  background-image: url('http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/beer-icon.png');
  background-size: 65px 65px;
  background-repeat: repeat;
}

/*div {
  padding: 1px;
  margin: 1px;
}*/

h1 {
  font-size: 40px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h3 {
  background: #5cb85c;
  font-size: 20px;
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border: 1px solid black;
  padding: 3px;
}

h4 {
  font-size: 20px;
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border: 1px solid black;
  /*padding: 5px;
  margin: 5px;*/
}

input {
  padding: 1px;
}

label {
  font-size: 14px;
}

#addNewButton {
  margin: 2px;
  margin: auto;
  text-align: center;
}

#inputName, #inputRating  {
  display: inline-block;

}

#inputNotes {
  margin-left: 20px;
  margin-right: 20px;
}

#inputDate, #inputBrewery {
  display: inline-block;
}

#loginPic {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

#logoutbutton {
  margin: auto;
  float: right;
}

#updateDeleteButtons {
  margin: auto;
  text-align: center;
}

.addingNewBeer {
  background: white;
  border-radius: 8px;
  /*border: 1px solid black;*/
  text-align: center;

}

.addingNewVisit {
  background: white;
  border-radius: 8px;
  /*border: 1px solid black;*/
  text-align: center;
  padding: 2px;
}

.brewName, .brewDate, .brewBrewery, .ratingButtons {
  display: inline-block;
}

.deleteThisVisit {
  text-align: center;

  background: #d9534f;
  /*border: 1px solid black;*/
}

.list {
  background: white;
  padding: 2px;
  border-radius: 8px;
  border: 1px solid black;
}

.loginDiv {
  background-color: white;
  text-align: center;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 110%;
  padding: 0px;
  width: auto;
  opacity: 0.65;
}
img:hover {
    opacity: 1.0;
}

.spacer {
  margin-top: 25px;
}

.spacer2 {
  text-align: center;
  background: #d9534f;
}

.suggestDiv {
  text-align: center;
  background: white;
  margin: auto;
}

table, thead, td, tr {
  border-collapse: collapse;
  padding: 1px;
  background-color: #ffffff;
}

table th {
  background-color: rgb(255, 255, 255);
}

/*table tr:nth-child(odd) {
  background-color: #d8fbfb;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}*/
