/* GENERAL */

body {
    background-color: #428bca;
    /* If you can see this, uncomment the next three lines. You're welcome. */
    /* background-image: url('http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/beer-icon.png');
    background-size: 40px 40px;
    background-repeat: repeat; */
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #000
}

main {
    margin-top: 15px;
}

h1 {
    font-size: 36px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    padding: 10px;
}

h2 {
    background: #5cb85c;
    font-size: 28px;
    text-align: center;
    color: white;
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
    padding: 10px;
}

h3 {
    background: #5cb85c;
    font-size: 24px;
    text-align: center;
    color: white;
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
    padding: 10px;
    margin-top: 30px;
}

h4 {
    font-size: 22px;
    text-align: center;
    padding: 5px;
}

p,
tr,
td,
label {
    font-size: 14px;
    color: #000 !important;
    background-color: #ffffff;
    font-weight: 400
}

li,
a,
ul,
ol {
    font-size: 14px;
    color: #000 !important;
}

table thead,
th {
    font-size: 14px;
    color: #000 !important;
    background-color: #dddddd;
    font-weight: 400
}

table th {
    background-color: rgb(255, 255, 255);
}

input {
    padding: 2px !important;
}


/* INDEX.HTML */

.mainAppBody {
    padding: 0;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 100%;
    padding: 0px;
    width: 100px;
    /*opacity: 0.75;*/
}

img:hover {
    opacity: 1.0;
}


/* MAIN.HTML */

.main-table-list {
    background-color: #dddddd
}

.mainVisitsScreen {
    display: flex;
    padding: 0
}

.mainVisitsScreen>div.col-md-9 {
    padding: 0
}

.mainVisitsScreen>div.col-md-3 {
    padding: 0 0 0 5px
}

.mainVisitsScreen>div>h3 {
    margin-top: 15px;
}

.addingNewVisit {
    background: white;
    text-align: center;
    padding: 2px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.inputDate,
.inputBrewery {
    width: 90%;
    margin: 15px auto;
}

.breweryNotes {
    width: 90%;
    margin: auto;
}

.breweryNotes h3 {}

.breweryNotesMain {
    margin: 15px auto;
}

.breweryNotesInput {
    margin: auto;
    width: 90%;
}

.addNewButton {
    padding: 5px;
}

.seeMoreButton {
    float: right;
    margin: auto;
    color: #fff !important;
}


/* VISIT-DETAILS.HTML */

.outer-visit-list {
    display: flex;
    padding: 0;
}

.visit-list {
    padding: 0 5px 0 0;
}

.visit-details-add-new-brew {
    padding: 0 0 0 5px;
}

.updateDeleteButtons {
    text-align: center;
    /*display: inline-block;*/
}

.updateButton,
.deleteButton {
    display: flex;
    float: left;
    margin: 5px;
}

.visit-details-brewery-notes {
    width: 100%
}

.visit-details-brewery-notes h3 {
    margin-top: 0px
}

.visit-details-brewery-notes h3,
.visit-details-add-new-brew h3 {
    margin-top: 0;
}

.addingNewBeer {
    background: white;
    text-align: center;
}

.inputName {
    width: 90%;
    margin: auto;
}

.inputABV {
    width: 90%;
    margin: auto;
}

.inputRating {
    width: 90%;
    margin: auto;
}

.inputABVandRating {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-around;
}

.inputNotes {
    margin: auto;
    width: 90%;
}

.addNewButton {
    padding: 5px;
    margin: 15px;
    text-align: center;
}


/* fame.html */

.fameTag {
    padding: 15px;
    background: white;
    margin: 10px;
}


/* LOGIN.HTML*/

.loginPic {
    height: 175px;
    width: 175px;
    margin: 0 auto;
    padding: 5px;
}

.logoutbutton {
    margin: 10px;
    float: right;
}

.loginDiv {
    background-color: white;
    text-align: center;
    margin-bottom: 25px;
}

.logButtons {
    margin: 5px;
    padding: 5px;
    display: inline-block;
}


/* SPECIAL */

.swal2-modal .swal2-title {
    color: #ffffff;
}

.creds {
    bottom: 0;
    /* position: fixed; */
    color: #000;
}

.creds a {
    background: transparent;
    text-decoration: underline;
    font-weight: 300;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 980px) {
    .mainVisitsScreen {
        display: flex;
        flex-direction: column;
    }
}