<!-- <div class="footerBody">


      <div class="form-group dropdown" id="inputDate">
      TODO get date to display as editable Month, Day, & Year, not 2017-03-11T06:00:00.000Z -->
          <label>Date Enjoyed:</label>
          <input type="date" class="form-control" ng-model="mc.newBeer.date_had">
      <!-- </div>

      <div class="form-group" id="inputBrewery"> -->
          <label>Brewery:</label>
          <select class="form-control" ng-model="mc.newBeer.brewery" ng-options="item.id as item.name for item in mc.breweries.list"></select>
          <!-- typeahead -->
      <!-- </div>

      <div class="addNewButton"> -->
          <button ng-click="mc.addNewVisit(mc.newBeer)" type="button" class="btn btn-success" action="'/#!visits/' + 'visitID'">
          <span class="fa fa-book"></span> Record Visit</button>
      <!-- </div>

</div> -->

<!-- <span class="fa fa-creative-commons"></span> cjaro 2017 -->
