<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <ul class="nav navbar-nav" id="appButtons">
      <li><h1>Download the App!</h1></li>
      <li><button class="btn btn-success btn-lg"><span class="fa fa-android fa-6"></span></button></li>
      <li><button class="btn btn-primary  btn-lg"><span class="fa fa-apple fa-5"></span></button></li>
    </ul>
  </div>
</nav>
<!--



      <div class="form-group dropdown" id="inputDate">
          <label>Date Enjoyed:</label>
          <input type="date" class="form-control" ng-model="mc.newBeer.date_had">
      </div>

      <div class="form-group" id="inputBrewery">
          <label>Brewery:</label>
          <select class="form-control" ng-model="mc.newBeer.brewery" ng-options="item.id as item.name for item in mc.breweries.list"></select>
     </div>

      <div class="addNewButton">
          <button ng-click="mc.addNewVisit(mc.newBeer)" type="button" class="btn btn-success" action="'/#!visits/' + 'visitID'">
          <span class="fa fa-book"></span> Record Visit</button>
      </div>



<span class="fa fa-creative-commons"></span> cjaro 2017 -->
