<span ng-controller="NavController as nc" ng-show="nc.userIsLoggedIn">
  {{nc}}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#!main"><img src="/assets/brewviewslogotype.png" class="img-responsive" alt="awesome brew views logo"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#!main"><span class="fa fa-beer"></span> My Brewery Visits</a></li>
          <!-- <li><a href="#!add"><span class="fa fa-plus-circle"></span> Add Visit</a></li>
          <li><a href="#!addBrew"><span class="fa fa-wrench"></span> under construction</a></li> -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" ><span class="fa fa-globe"></span> Brewsources<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="http://growlermag.com/" target="_blank"><span class="fa fa-external-link"></span>  Growler Magazine</a></li>
              <li><a href="http://www.mncraftbrew.org/" target="_blank"><span class="fa fa-external-link"></span>  MN Craft Brewer's Guild</a></li>
              <li><a href="http://www.brewerydb.com/" target="_blank"><span class="fa fa-external-link"></span>  brewerydb</a></li>
            </ul>
          </li>
          <li> <a href="#!suggestion"><span class="fa fa-comments-o"></span> Suggestions</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <button id="logoutbutton" type="button" class="btn btn-danger" ng-click="nc.logOut()">
            <span class="glyphicon glyphicon-log-out"></span> Cut Me Off</button>
          </ul>
        </div>
      </div>
    </nav>

  </span>
