<h3 class="main">add a brew/record a visit</h3>

<div class="addingNewBeer">

<!-- {{ac.testMessage}} -->

  <div class="form-group" id="inputName">
    <label>brew name:</label>
    <input class="form-control" ng-model="ac.newBeer.beer_name" placeholder="brew name">
  </div>

  <div class="form-group dropdown" id="inputDate">
    <!-- TODO get date to display as editable Month, Day, & Year, not 2017-03-11T06:00:00.000Z -->
    <label>date enjoyed:</label>
    <input type="date" class="form-control" ng-model="ac.newBeer.date_had">
  </div>

  <div class="form-group" id="inputBrewery">
    <label>brewery:</label>
    <select class="form-control" ng-model="ac.newBeer.brewery_id" ng-options="item.id as item.name for item in ac.breweries.list"></select>
    <!-- okay, but if I want this to be more than just a select, how can I make it an autofill/auto-populate field???? -->
  </div>

  <div class="form-group" id="inputRating">
    <label for="rating">rating (1-10):</label>
    <select ng-model="ac.newBeer.rating" class="form-control">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
  </div>

  <div class="form-group" id="inputNotes">
    <label>notes:</label>
    <textarea class="form-control" rows="4" cols="50" ng-model="ac.newBeer.notes" placeholder="notes"></textarea>
  </div>

  <button id="addNewButton" ng-click="ac.addNewBrew(ac.newBeer)" type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Add New</button>

{{ac.newBeer}}

</div>


<!-- <div class="form-group">
  <select name="breweries" ng-model="ac.newBrewObject.brewery_id" class="form-control">
   <option ng-repeat="brews in ac.breweries.list" value={{brews.id}} class="form-control">{{brews.name}}</option>
 </select>
</div> -->


<!--TODO make ratings a select dropdown menu -->

<!-- TODO get rating dropdown to work with just numbers 1-10. As it was, it wasn't calling anything -->
<!-- <select ng-model="ac.newBeer.rating" ng-options="beer.id as beer.rating for beer in hc.brews_test.list"></select> -->
