<!-- {{bdc}} -->
<!-- {{bdc.testVariable}} -->
<h3 class="main">{{bdc.brew.details.name}} - {{bdc.brew.details.date_had | date: 'MMMM dd, yyyy'}}</h3>

<div class="brewBrewList table-editable">

  <table class="table table-bordered ">

    <thead>
      <tr>
        <th class="beer_name">Beer Name:</th>
        <th class="rating">Rating:</th>
        <th class="notes">Notes:</th>
        <th class="update">Update/Delete</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td contenteditable="true" ng-model="bdc.brew.beer_name">{{bdc.brew.details.beer_name}}</td>
        <td ng-model="bdc.brew.rating">{{bdc.brew.details.rating}}</td>
        <td contenteditable="true" ng-model="bdc.brew.notes">{{bdc.brew.details.notes}}</td>
        <td>
          <button ng-click="bdc.updateBrew(bdc.brew.details)" type="button" class="btn btn-info">
          <span class="glyphicon glyphicon-ok-sign"></span></button>
          <button ng-click="bdc.deleteBrew(bdc.brew.details.id)" type="button" class="btn btn-danger">
          <span class="fa fa-trash-o"></span></button>
          </td>

      </tr>
    </tbody>

  </table>

</div>





<!-- {{mc.testVariable}} -->

  <!-- x-editable table????? -->
  <!-- neater way to display -->
  <!-- notes could be a popup -->
  <!-- onaftersave="saveTable()" oncancel="cancel()" -->

   <!-- <form editable-form name="tableform" >
     <table class="table table-bordered table-hover table-condensed">
       <tr>
         <td>brew name</td>
         <td>brewery</td>
         <td>date enjoyed</td>
         <td>rating</td>
         <td>notes</td>
         <td"><span ng-show="tableform.$visible">Action</span></td>
       </tr>
         <tr ng-repeat="brew in mc.brewList">
           <td><span editable-text="brew.beer_name"></span></td>
           <td><span editable-text="brew.name"></span></td>
           <td><span editable-text="brew.date_had"></span></td>
           <td><span editable-text="brew.rating"></span></td>
           <td><span editable-text="brew.notes"></span></td>
         </tr>
     </table>

   </form> -->
