<h3 class="main">Hall of Fame: Worthy of a rating above 9/10</h3>

<div class="visit-list">
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th style="width: 20%;">Brew</th>
                <!-- <th>Brew</th> -->
                <th style="width: 5%;">Rating</th>
                <th style="width: 60%;">Notes</th>
                <th style="width: 15%;">Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="best in fc.brewery">
                <td style="width: 20%;" ng-model="best.brewery">{{best.name}}</br><i>{{best.brewery}}</i></td>
                <!-- <td ng-model="best.beer_name">{{best.beer_name}}</td> -->
                <td style="width: 5%;" ng-model="best.rating">{{best.rating}}</td>
                <td style="width: 60%;" ng-model="best.notes">{{best.tasting_notes}}</td>
                <td style="width: 15%;" ng-model="best.notes">{{best.date | date: 'dd MMMM yyyy'}}</td>
            </tr>
        </tbody>
    </table>
</div>