<h3 class="main">Hall of Fame</h3>
<h4 id="fameTag">You gave these brews a rating of 9 or 10!</h4>

<div class="brewBrewList">

    <table class="table table-bordered table-condensed">

        <thead>
            <tr>
                <th>Brew</th>
                <!-- <th>Brew</th> -->
                <th>Rating</th>
                <th>Notes</th>
                <th>Date</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="best in fc.brewery">
                <td ng-model="best.brewery">{{best.beer_name}}</br>({{best.brewery}})</td>
                <!-- <td ng-model="best.beer_name">{{best.beer_name}}</td> -->
                <td ng-model="best.rating">{{best.rating}}/10</td>
                <td ng-model="best.notes">{{best.notes}}</td>
                <td ng-model="best.notes">{{best.date_had | date: 'M.d.yy'}}</td>
            </tr>
        </tbody>

    </table>

</div>
