<h3 class="main">Hall of Fame: Worthy of a rating above 9/10</h3>
<!--<h7 id="fameTag">You gave these brews a rating of 9 or 10!</h7>-->

<div class="brewBrewList">

    <table class="table table-bordered table-condensed">

        <thead>
            <tr>
                <th>Brew</th>
                <!-- <th>Brew</th> -->
                <!-- <th>Rating</th> -->
                <th>Notes</th>
                <th>Date</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="best in fc.brewery">
                <td ng-model="best.brewery">{{best.beer_name}}: {{best.rating}}/10</br>({{best.brewery}})</td>
                <!-- <td ng-model="best.beer_name">{{best.beer_name}}</td> -->
                <!-- <td ng-model="best.rating"></td> -->
                <td ng-model="best.notes">{{best.notes}}</td>
                <td ng-model="best.notes">{{best.date_had | date: 'dd MMMM yyyy'}}</td>
            </tr>
        </tbody>

    </table>

</div>
