<h5>Awesome Brew Views</h5>

<h3 id="loginHead">I Need to See Some ID</h3>

<div class="loginDiv">

    <!--<div class="picture">
        <img class="img-responsive" id="loginPic" src="/assets/c53.gif" alt="hello">
    </div>-->
    <div>
        <img class="img-responsive" id="loginPic" src="/assets/beer-icon.png" alt="awesome brew views logo">
    </div>

    <div class="logButtons">
        <button style="display: inline;" class="btn btn-success" ng-click="lc.login()">Sign In</button>
        <button style="display: inline;" class="btn btn-success" ng-click="lc.login()">Sign Up</button>
    </div>

    <h4 id="beerQuotes">"Beer is not a matter of life and death:<br>It is much more important than that."</h4>

</div>