<h3 id="loginHead">please log in!</h3>

<div class="loginDiv">


  <div class="picture">
    <img class="img-responsive" id="loginPic" src="/assets/brewviewslogo2.png" alt="awesome brew views logo">
  </div>

  <div class="logButtons">

    <button class="btn btn-success" ng-click="lc.logIn()"><span class="glyphicon glyphicon-log-in"></span> log in</button>

  </div>
</div>



<!-- only show header on login - better optimize for mobile

-->



<!-- https://console.firebase.google.com/project/brewviewsmn/settings/general/ -->
