<!-- <div class="mainLoggedView" ng-show="mc.userIsLoggedIn"> -->
<!-- {{mc.userIsLoggedIn}} -->

<h3 class="main">My Visits</h3>

{{mc}}

<div class="brewBrewList table-responsive">
  <table class="table table-hover table-bordered">

    <thead>
      <tr>
        <th class="date"><span class="fa fa-calendar"></span> Date Enjoyed</th>
        <th class="brewery"><span class="fa fa-building-o"></span> Brewery</th>
        <th><span class="fa fa-eye"></span> Details</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="visit in mc.visitList">
        <td>{{visit.date_had | date: 'MMMM dd, yyyy'}}</td>
        <td ng-model="visit.name">{{visit.name}}</td>
        <td id="#seeMore">
            <a href="/#!visits/{{visit.id}}" class="btn btn-default" role="button">Details about this {{visit.name}} Experience</a>
          </td>
          <td>
            <button ng-click="mc.deleteVisit(visit.id)" type="button" class="btn btn-danger">
              <span class="fa fa-trash-o"></span>
            </button>
          </td>

        </tr>
      </tbody>

    </table>

  </div>

<!--
||drink up my hearties yo ho drink up
|| it's a pirate's life for me
||      ~  ~  ~
||      ( o )o) o)
||     ( o )o ) )o)o)
||    (o( ~~~~~~~~~~o
||    ( )' ~~~~~~~~~.
||   ( )|)          |-.
||     o|  _  _     |-. \
||     o| |_||_)\ / |  \ \
||      | | ||_)\/  |   | |
||     o|           |  / /
||      |           |." "
||      |           |- '
||      .===========.
-->
