<!-- <div class="mainLoggedView" ng-show="mc.userIsLoggedIn"> -->
<!-- {{mc.userIsLoggedIn}} -->

<h3 class="main">My Visits</h3>

<div class="brewBrewList ">
  <table class="table table-hover table-bordered table-responsive">

    <thead>
      <tr>
        <th class="date"><span class="fa fa-calendar"></span> Date of Visit</th>
        <th class="brewery"><span class="fa fa-building-o"></span> Brewery</th>
        <th><span class="fa fa-eye"></span> Details</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="visit in mc.visitList">
        <td>{{visit.date_had | date: 'MMMM dd, yyyy'}}</td>
        <td ng-model="visit.name">{{visit.name}}</td>
        <td id="#seeMore">
            <a href="/#!visits/{{visit.id}}" class="btn btn-info" role="button">Your Brews from {{visit.name}}</a>
          </td>
        </tr>
      </tbody>

    </table>

  </div>




  <h3 class="main">Add a Visit</h3>

  <div class="addingNewVisit">
    <!-- {{avc.testMessage}} -->

      <div class="form-group dropdown" id="inputDate">
        <!-- TODO get date to display as editable Month, Day, & Year, not 2017-03-11T06:00:00.000Z -->
        <label>Date Enjoyed:</label>
        <input type="date" class="form-control" ng-model="mc.newBeer.date_had">
      </div>

      <div class="form-group" id="inputBrewery">
        <label>Brewery:</label>
        <select class="form-control" ng-model="mc.newBeer.brewery_id" ng-options="item.id as item.name for item in mc.breweries.list"></select>
        <!-- typeahead -->
      </div>

    <div class="addNewButton">
      <button  ng-click="mc.addNewVisit(mc.newBeer)" type="button" class="btn btn-success" action="/#!main"><span class="fa fa-book"></span> Record Visit</button>
    </div>

    <!-- {{ac.newBeer}} -->
  </div>

<!--
||drink up my hearties yo ho drink up
|| it's a pirate's life for me
||      ~  ~  ~
||      ( o )o) o)
||     ( o )o ) )o)o)
||    (o( ~~~~~~~~~~o
||    ( )' ~~~~~~~~~.
||   ( )|)          |-.
||     o|  _  _     |-. \
||     o| |_||_)\ / |  \ \
||      | | ||_)\/  |   | |
||     o|           |  / /
||      |           |." "
||      |           |- '
||      .===========.
-->
