<h3 class="main">Needs Reinforcement</h3>

<p>Is a brewery opening up or closing down? Got some feedback?</p>

<div class="suggestDiv">
<!-- Do not change this code -->
<a id="foxyform_embed_link_861674" href="http://www.foxyform.com/"></a>
  <script type="text/javascript">
  (function(d, t){
     var g = d.createElement(t),
         s = d.getElementsByTagName(t)[0];
     g.src = "http://www.foxyform.com/js.php?id=861674&sec_hash=2ee611f03cf&width=350px";
     s.parentNode.insertBefore(g, s);
  }(document, "script"));
  </script>
<!-- Do not change this code -->
</div>
