<h3 class="main">Needs Reinforcement</h3>

<div class="suggestDiv">

    <p>Is a brewery opening up or closing down?</p>
    <p>This is a perfect time to give your feedback!</p>

    <!-- Do not change the code! -->
    <a id="foxyform_embed_link_869259" href="http://www.foxyform.com/">foxyform</a>
    <script type="text/javascript">
    (function(d, t){
        const g = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        g.src = "http://www.foxyform.com/js.php?id=869259&sec_hash=e055bc4ac73&width=350px";
       s.parentNode.insertBefore(g, s);
    }(document, "script"));
    </script>
    <!-- Do not change the code! -->
</div>
