<h3 class="main">got thoughts? spill!</h3>


<div class="suggestDiv">

  <!-- Do not change the code! -->
<a id="foxyform_embed_link_861674" href="http://www.foxyform.com/">foxyform</a>
  <script type="text/javascript">
  (function(d, t){
     var g = d.createElement(t),
         s = d.getElementsByTagName(t)[0];
     g.src = "http://www.foxyform.com/js.php?id=861674&sec_hash=2ee611f03cf&width=350px";
     s.parentNode.insertBefore(g, s);
  }(document, "script"));
  </script>
  <!-- Do not change the code! -->


<!--
<form class="suggestionForm"
    action="mailto:cjarocki@gmail.com"
    method="POST"
    enctype="multipart/form-data"
    name="EmailTestForm">

  <label for="suggestName">name:</label>
  <input type="text" size="30" name="VisitorName" class="form-control"><br><br>

  <label for="suggestSubject">subject: </label>
  <select class="form-control">
    <option>brewery</option>
    <option>general feedback</option>
    <option>website maintenance</option>
    <option>other</option>
  </select>
  <label for="">suggestion:</label>
  <textarea name="VisitorComment" rows="4" cols="20" class="form-control"></textarea>

  <input type="submit" class="form-control" value="Email This Form">

  </form> -->





</div>
