<h3 class="main">{{vdc.visit.details[0].brewery}} | {{vdc.visit.details[0].date_had | date: 'dd MMMM yyyy'}}</h3>


<div class="col-md-12 outer-visit-list">
    <div class="col-md-9 visit-list">
        <h3 style="margin-top: 0">Brews Imbibed</h3>
        <table class="table table-bordered table-condensed" id="visit-details-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>ABV%</th>
                    <th>Rating</th>
                    <th>Notes</th>
                    <!-- <th>Edit/Delete</th> -->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="brew in vdc.visit.details">
                    <td ng-model="brew.beer_name" editable-text="brew.beer_name" class="col-md-4">{{brew.beer_name}}</td>
                    <td ng-model="brew.rating" editable-text="brew.brew_abv" class="col-md-1">{{brew.brew_abv}}</td>
                    <td ng-model="brew.rating" editable-text="brew.rating" class="col-md-1">{{brew.rating}}</td>
                    <td ng-model="brew.notes" editable-text="brew.notes" class="col-md-6">{{brew.notes}}</td>
                    <!-- <td id="updateDeleteButtons" class="col-sm-2">
                    <button id="updateButton" ng-click="vdc.updateBrew(brew)" type="button" class="btn btn-info btn-sm"><span class="fa fa-pencil"></span></button>
                    <button id="deleteButton" ng-click="vdc.deleteBrew(brew.id)" type="button" class="btn btn-danger btn-sm"><span class="fa fa-trash-o"></span></button>
                </td> -->
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3 visit-details-add-new-brew">
        <div class="visit-details-brewery-notes">
            <h3>Brewery Notes</h3>
            <div class="form-group" style="padding: 15px;background: white;">
                {{vdc.visit.details[0].b_notes}}
                <!-- <textarea class="form-control" rows="5" ng-model="vdc.newBeer.notes" placeholder="How was the venue? Atmosphere? Parking? Patrons? Bartenders? Prices? Write it down here!"></textarea> -->
            </div>
        </div>
        <h3>Add a Brew to this Visit</h3>
        <div class="addingNewBeer">
            <div class="form-group inputName">
                <label>Brew Name:</label>
                <input type="text" class="form-control" ng-model="vdc.newBeer.beer_name">
            </div>
            <div class="inputABV">
                <label>ABV %:</label>
                <input type="text" class="form-control" ng-model="vdc.newBeer.brew_abv">
            </div>
            <div class="form-group inputRating">
                <label>Rating:</label>
                <select class="form-control" ng-model="vdc.newBeer.rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
            </div>
            <div class="form-group inputNotes">
                <label>Notes:</label>
                <textarea class="form-control" rows="3" ng-model="vdc.newBeer.notes" placeholder="like it? love it? gotta have it?"></textarea>
            </div>
            <div class="addNewButton">
                <button ng-click="vdc.addNewBrew(vdc.newBeer)" type="button" class="btn btn-success btn-md"><span
            class="fa fa-hand-peace"></span>&nbsp; Beer Me</button>
            </div>
            {{vdc.newBeer}}
        </div>

    </div>

</div>

<script>
    $(document).ready(function() {
        $('#visit-details-table').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>
<!--
|| ಠ_ಠ
|| stop looking at my code, I know it's shit
-->