<h3 class="main">{{vdc.visit.details[0].brewery}}</h3>

<div class="brewBrewList">

    <table class="table table-bordered">

        <thead>
            <tr>
                <th>Name</th>
                <th>Rating</th>
                <th>Notes</th>
                <!-- <th>U/D</th> -->
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="brew in vdc.visit.details">
                <td contenteditable="true" ng-model="brew.beer_name">{{brew.beer_name}}</td>
                <td contenteditable="true" ng-model="brew.rating">{{brew.rating}}</td>
                <td contenteditable="true" ng-model="brew.notes">{{brew.notes}}</td>
                <!-- <td id="updateDeleteButtons">
                  <button id="updateButton" ng-click="vdc.updateBrew(brew)" type="button" class="btn btn-info">
                <span class="glyphicon glyphicon-ok-sign"></span></button>
                  <button id="deleteButton" ng-click="vdc.deleteBrew(brew.id)" type="button" class="btn btn-danger">
                <span class="fa fa-trash-o"></span></button>
                </td>-->
            </tr>
        </tbody>

    </table>

</div>




<h3 class="main">Add a Brew to this Visit</h3>

<div class="addingNewBeer">

    <div class="form-group" id="inputName">
        <label>Brew Name:</label>
        <input type="text" class="form-control" ng-model="vdc.newBeer.beer_name" placeholder="brew name">
    </div>

    <div class="form-group" id="inputRating">
        <label>Rating (1-10):</label>
        <select class="form-control" ng-model="vdc.newBeer.rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
    </div>

    <div class="form-group" id="inputNotes">
        <label>Notes:</label>
        <textarea class="form-control" rows="3" ng-model="vdc.newBeer.notes" placeholder="like it? love it? gotta have it?"></textarea>
    </div>

    <div class="addNewButton">
        <button ng-click="vdc.addNewBrew(vdc.newBeer)" type="button" class="btn btn-success btn-md"><span class="fa fa-hand-peace-o"></span> Beer Me</button>
    </div>

    <!--{{vdc.newBeer}}-->

</div>




<span class="fa fa-creative-commons"></span> cjaro 2017

<!--
<div class="spacer">
    <div>
        <div>
            <div>
                <div class="spacer2">
                    <span class="fa fa-hand-stop-o"></span>
                    <span class="fa fa-hand-stop-o"></span>
                    <span class="fa fa-hand-stop-o"></span>
                    <span class="fa fa-hand-stop-o"></span>
                    <span class="fa fa-hand-stop-o"></span>
                    <span class="fa fa-hand<-stop-o"></span>
                    <br>
                    <span class="fa fa-exclamation-triangle"></span>
                    <span class="fa fa-exclamation-triangle"></span>
                    <span class="fa fa-exclamation-triangle"></span>
                    <span class="fa fa-exclamation-triangle"></span> DANGER ZONE
                    <span class="fa fa-exclamation-triangle"></span>
                    <span class="fa fa-exclamation-triangle"></span>
                    <span class="fa fa-exclamation-triangle"></span>
                    <span class="fa fa-exclamation-triangle"></span></div>
                <div>
                  <div class="deleteThisVisit">
                      <button ng-click="vdc.deleteVisit(vdc.visitID)" type="button" class="btn btn-danger">delete visit</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!--
|| ಠ_ಠ
|| stop looking at my code
|| I know it's shit
-->
