<div *ngIf="viewMode; else editable">
  <div *ngIf="currentVisit.id">
    <h4>Visit</h4>
    <div>
      <label><strong>Title:</strong></label> {{ currentVisit.name }}
    </div>
    <div>
      <label><strong>Description:</strong></label>
      {{ currentVisit.description }}
    </div>
    <div>
      <label><strong>Status:</strong></label>
      {{ currentVisit.published ? "Published" : "Pending" }}
    </div>
    <a class="btn btn-warning" routerLink="/visits/{{ currentVisit.id }}">Edit</a>
  </div>
  <div *ngIf="!currentVisit">
    <br />
    <p>Please click on a Tutorial...</p>
  </div>
</div>
<ng-template #editable>
  <div *ngIf="currentVisit.id" class="edit-form">
    <h4>Visit</h4>
    <form>
      <div class="form-group">
        <label for="name">Title</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="currentVisit.name" name="name"/>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" [(ngModel)]="currentVisit.description" name="description"/>
      </div>
      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentVisit.published ? "Published" : "Pending" }}
      </div>
    </form>
    <button class="btn btn-primary mr-2" *ngIf="currentVisit.published" (click)="updatePublished(false)">Make Draft</button>
    <button *ngIf="!currentVisit.published" class="btn btn-primary mr-2" (click)="updatePublished(true)">Publish</button>
    <button class="btn btn-danger mr-2" (click)="deleteVisit()">Delete</button>
    <button type="submit" class="btn btn-success mr-2" (click)="updateVisit()">Update</button>
    <p>{{ message }}</p>
  </div>
  <div *ngIf="!currentVisit.id">
    <br />
    <p>Cannot access this visit</p>
  </div>
</ng-template>
